<div class="banner-services mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1583209814683-c023dd293cc6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
  <div class="container text-center">
    <h1 class="headings-text" >Nuestros Servicios de Belleza</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @services.each do |service| %>
       <div class="col-md-6">
        <div class="card-producto p-2 mb-3">
          <div class="col-md-3">
            <%= cl_image_tag service.photo.key, height: 150, width: 150, crop: :fill %>
          </div>
          <div class="card-producto-infos">
            <h2 id="service-title"><%= link_to service.title,  service_path(service)%></h2>
            <p><%= service.description[0,159] + "..." %></p>
            <div class="d-flex justify-content-between">
              <div>
                <p>  Rating: <strong> </strong><span class="fas fa-star"></span><span class="fas fa-star"></span></p>
              </div>
              <div>
                <p>  Precio: <strong> <%= number_to_currency(service.price, strip_insignificant_zeros:true) %></strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
