.about-section-covid p{
  text-align:justify;
}

.about-section-covid h1{
  color:rgb(71, 7, 87);
  text-align: justify;
  font-size: 48px;
}

.about-section-covid h3{
  text-align: center;        
} 