// Specific CSS for your home-page;

.img-d-block {
	width: 100%;
	height:400px;
	object-fit: cover;
}

.container-home{
    margin:100px 50px 100px 50px;
    display: flex;
	justify-content: space-evenly;
}

body{
	background-color: rgb(241, 218, 247)
}

.banner{
	background:violet;
	h1{
		color: rgb(58, 24, 66);
		font-weight: bold; 
		text-align: center;
		text-shadow: blueviolet;
		margin:40px 20px 40px 20px;
		font-size: 100px;
		font-family:'Times New Roman';
	}
}


.img-top{
	width: 500px;
	height: 400px;
	border-radius: 10px;
	margin:50px 50px 50px 50px ;
	border: 3px solid  rgb(158, 157, 158)
}


.containe-beldom{
	p{
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		color:rgb(58, 24, 66) ;
		font-weight: bold; 
		text-align: center;
		margin:50px 50px 50px 50px ;
		
	}
	
}

.img-bel{
	width: 700px;
    height: 250px;
	margin:50px 50px 50px 50px;
	object-fit: cover;
	border-radius: 20px;
	box-shadow:2px 2px 2px 2px rgb(158, 157, 158);
}

.homepage-banner {
  background-size: cover;
  background-position: center;
  padding: 160px 0;

}

.homepage-form {
  width: 450px;
  border-radius: 18px;
  margin-left: 100px;
  opacity: 0.9;

  h2 {
    font-weight: bold;
    font-size: 32px;
  }

  p {
    font-size: 16px;
    color: gray;
  }
}


.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category-1 {
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
