    <div class="row">
      <div class="col-lg-6">
        <h2 style="font-family: 'Ubuntu Condensed', sans-serif;">Servicios solicitados</h2>
      </div>
    </div>
        
    <% @user.bookings.each do | booking |%>
      <% if booking.status == "enabled"%>
        <div class="row">
          <div class="col-lg-12">
            <div class="card-booking">
              <%= cl_image_tag booking.service.photo.key, height: 150, width: 150, crop: :fill %>
              <div class="card-booking-infos">
                <h3><%= link_to booking.service.title, booking_path(booking) %></h2>
                <p><strong>Inicio de Servicio:</strong> <%= booking.start_date.strftime("Dia: %d/%m/%Y hora: %I:%M%p") %></p>
                <p><strong>Fin de Servicio</strong> <%= booking.end_date.strftime("Dia: %d/%m/%Y hora: %I:%M%p") %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>  
    <% end %>