<div class="container"> 
  <h1 style="font-family: 'Ubuntu Condensed', sans-serif;" class="mb-4">Agenda de servicios</h1>
  <% if current_user.permission_level == "owner" %>
    <%= render "owner" %>
  <% elsif current_user.permission_level == "admin" %>
    <%= render "admin" %>
  <% else %>
    <%= render "buyer" %>
  <% end %>
</div>

