<div class= "container">
  <div class= "text">
    <h1>PROTOCOLO DE PREVENCIÓN  COVID-19</h1>
  </div>
  <br>
  <div class="about-section-covid"> 
    <h1>Profesionales Beldom</h1>
    <br>
    <p>•Control de temperatura antes de atender al cliente</p>
    <p>•Uso obligatorio de protector facial y mascarilla</p>
    <p>•Uso obligatorio de guantes quirúrgicos</p>
    <p>•Lavado de manos al llegar al domicilio</p>
    <p>•Uso de alcohol gel o bactericida</p>
    <p>•Extrema limpieza y sanitización de implementos</p>
    <p>•Al saludar al cliente: NO habrá apretón de mano, abrazos ni besos</p>
    <br>
    <h1>Clientes Beldom</h1>
    <br>
    <p>Será necesario que los clientes:</p>
    <p>•Utilicen su mascarilla durante el servicio</p>
    <p>•Laven sus manos antes y después del servicio</p>
    <br>
    <h1>IMPORTANTE</h1>
    <br>
    <p>En caso de que el cliente haya estado en contacto estrecho con un enfermo o con alguien que presente síntomas de coronavirus y tenga sospechas de estar enfermo, deberá avisar a BelDom, y en este caso podrá:</p>
    <p>•Modificar su fecha de reserva, sin costo.</p>
    <p>•Anular su reserva y solicitar reembolso.</p>
    <br>
    <h3 class="headings-text"><strong>Tod@s junt@s nos cuidamos!<strong></h3>
  </div>
</div>