<br><br><br>


<div class="banner">
   <h1>BelDom</h1> 
</div>

<div class="container">
  <div class="d-flex justify-content-center">
    <div class="row align-center">
      <div class="col-6">
        <div class="text-center">
          <img src="https://ead.unach.cl/wp-content/uploads/2020/07/salud-OMS-e1551914081412.jpg" class="img-top" alt="..."> 
          <%= link_to "Salud","#", class: "btn btn-primary btn-homepage px-5 "%>
          </div>
        </div>  
        <div class="col-6">
          <div class="text-center">
            <img src="https://definicion.mx/wp-content/uploads/2015/02/Belleza.jpg" class="img-top" alt="...">  
            <%= link_to "Belleza","#", class: "btn btn-primary btn-homepage px-5"%>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="container-beldom">
  <div class="text-center">
    <img src="https://st.depositphotos.com/2325841/2529/i/950/depositphotos_25293855-stock-photo-multi-ethnic-group-thumbs-up.jpg" class="img-bel" alt="...">
      <p>En BelDom somos una red de emprendedores dedicados a la salud y belleza,
       nos especializamos en llevar nuestros servicios a la comodidad de 
       tu hogar y con la mejor calidad</p>            
    </div>  
  </div>
</div>
