
​<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>
        
  <div class="carousel-inner">
    <div class="carousel-item active" style=" background-size: cover;background-image:linear-gradient(to bottom, rgb(69 68 68 / 51%), rgb(69 68 68 / 51%)), url(https://www.3claveles.com/img/cms/barberia2.jpg); height: 100%;width: 100%;cover-fit: cover;background-posicion: center;background-repeat: no-repeat;">
      
        <div class= "carousel-caption d-none d-md-block" id="carousel-text">
          <h1>Beldom</h1>
          <p>Belleza y Estetica, fácil, al instante y a domicilio</p>
      </div>
    </div><!-- /carousel-item -->
  
    <div class="carousel-item" style=" background-size: cover;background-image:linear-gradient(to bottom, rgb(69 68 68 / 51%), rgb(69 68 68 / 51%)), url('https://www.flowww.net/hubfs/Blog_Marta/potenciar-peluqueri%CC%81a.jpg');height: 100%;width: 100%;cover-fit: cover;background-posicion: center;background-repeat: no-repeat;">
        
        <div class="carousel-caption d-none d-md-block" id="carousel-text">
          <h1>Beldom</h1>
          <p>Belleza y Estetica, fácil, al instante y a domicilio</p>
      </div>
    </div><!-- /carousel-item -->

    <div class="carousel-item"  style=" background-size: cover;background-image:linear-gradient(to bottom, rgb(69 68 68 / 51%), rgb(69 68 68 / 51%)), url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/elle-manicura-2021-1609673220.png?resize=640:*');height: 100%;width: 100%;cover-fit: cover;background-posicion: center;background-repeat: no-repeat;">
        
        <div class="carousel-caption d-none d-md-block" id="carousel-text">
          <h1>Beldom</h1>
          <p>Belleza y Estetica, fácil, al instante y a domicilio</p> 
      </div>
    </div><!-- /carousel- item-->
  
    <div class="carousel-item" style=" background-size: cover;background-image:linear-gradient(to bottom, rgb(69 68 68 / 51%), rgb(69 68 68 / 51%)), url('https://static.vix.com/es/sites/default/files/styles/4x3/public/p/pestanas.jpg');height: 100%;width: 100%;cover-fit: cover;background-posicion: center;background-repeat: no-repeat;">
      <div class="carousel-caption d-none d-md-block" id="carousel-text"> 
          <h1>Beldom</h1>
          <p>Belleza y Estetica, fácil, al instante y a domicilio</p>
      </div> 
    </div><!-- /carousel- item-->

    <div class="carousel-item"style=" background-size: cover;background-image: linear-gradient(to bottom, rgb(69 68 68 / 51%), rgb(69 68 68 / 51%)),url('https://static.vix.com/es/sites/default/files/styles/4x3/public/imj/imujer/C/Como-hacer-una-manicura-y-pedicura-perfectas.jpg');height: 100%;width: 100%;cover-fit: cover;background-posicion: center;background-repeat: no-repeat;"> 
        <div class="carousel-caption d-none d-md-block" id="carousel-text">
          <h1>Beldom</h1>
          <p>Belleza y Estetica, fácil, al instante y a domicilio</p>  
        </div>
    </div><!-- /carousel- item-->
          
    <div class="carousel-item" style=" background-size: cover;background-image:linear-gradient(to bottom, rgb(69 68 68 / 51%), rgb(69 68 68 / 51%)), url('https://codigosaludonline.files.wordpress.com/2019/07/codigo-salud-online-tratamientos-de-belleza-1.png');height: 100%;width: 100%;cover-fit: cover;background-posicion: center;background-repeat: no-repeat;">
        
        <div class="carousel-caption d-none d-md-block" id="carousel-text">
          <h1>Beldom</h1>
          <p>Belleza y Estetica, fácil, al instante y a domicilio</p> 
      </div>
    </div><!-- /carousel-item -->
  </div><!-- /carousel-inner -->

  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-marketing">​
  <div class= "cards-hompage mt-5">
    <h2 class= "h2 font-weight-bold text-center py-8 mt-8 mb-8">Recomendados</h2>
    <div class="row">
      <div class="col-lg-3 col-sm-12">
        <div class="card-home">
          <img class="rounded-circle" src="https://www.flowww.net/hubfs/Blog_Marta/potenciar-peluqueri%CC%81a.jpg" alt="Generic placeholder image" width="140" height="140">
          <h3>Peluqueria unisex</h3>
          <p> Servicios destinados a todas las edades, ofrecemos cortes de pelo, coloración entre otros.</p>
        </div> <!-- /card -->
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-3 col-sm-12">
        <div class="card-home"> 
          <img class="rounded-circle" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/elle-manicura-2021-1609673220.png?resize=640:*" width="140" height="140">
          <h3>Manicura</h3>
          <p>Ofrecemos una gran variedad de tecnicas y coloes  para que tus manos queden hermosas.</p>
        </div> <!-- /card -->
      </div><!-- /.col-lg-4 -->

        <div class="col-lg-3 col-sm-12">
          <div class="card-home">
            <img class="rounded-circle" src="https://static.vix.com/es/sites/default/files/styles/4x3/public/p/pestanas.jpg" class=" img block w-100" alt="Generic placeholder image" width="140" height="140">
            <h3>Pestañas y Cejas</h3>
            <p>Tenemos personal especializado en todo tipo de tratamientos para tus pestañas y cejas.</p>
          </div><!-- /card -->
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-3 col-sm-12">
          <div class="card-home">
            <img class="rounded-circle" src="https://www.materialestetica.com/blog/wp-content/uploads/2016/05/tratamiento-depilacion-con-bandas-de-cera.jpg" width="140" height="140">
            <h3>Depilación</h3>
            <p>Para que tengas tu piel suave tenemos especialistas en depilación, ya sea rostro o cuerpo.</p>
          </div><!-- /card -->
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->    
  </div><!--/.cards-->  ​
</div><!-- /marketin -->

<div class="container-quienes-somos mt-5">
  <h2>Quienes Somos</h2>​
  <div class="row">
    <div class="col-lg-6 col-sm-12" >
      <div class="card-qs">
        <img class="featurette-image img-fluid mx-auto" src="https://st.depositphotos.com/2325841/2529/i/950/depositphotos_25293855-stock-photo-multi-ethnic-group-thumbs-up.jpg " alt="" class="rounded">
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="card-qs">
        <p>En BelDom somos una red de emprendedores dedicados a la belleza y Estetica, nos especializamos en llevar nuestros servicios a la comodidad de tu hogar y con la mejor calidad.</p>
        <%= link_to "Más sobre nosotros", nosotros_path , class: "btn btn-primary mt-3 mb-5"%> 
      </div>
    </div> 
​  </div>
</div>

<div class="container-publicidad mt-5 mb-5">
  <h2>Trabajamos con:</h2>​
  <div class="row">
    <div class="col-lg-3 col-sm-12">
      <div class="card-publicidad">
        <img class src="https://media.vogue.es/photos/5cc6fdb3aaa7f34dc669109d/master/w_1800,c_limit/maybelline_new_york_estudio_oficina_historia_695258710.jpg" width="250" height="140" class="rounded" >
        <p><a class="btn btn-secondary" href="https://www.maybelline.cl/" target="_blank" role="button"> Maybelline &raquo;</a></p>
      </div> 
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-3 col-sm-12">
      <div class="card-publicidad">
        <img class src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFuhnWhchyqDnEH44bKtalnOJrKzWxo9nVpLS2evtqijmxN7goyal4zCc8f-7K6ZaDmjI&usqp=CAU" width="140" height="140" class="rounded" >
        <p><a class="btn btn-secondary" href="https://www.lorealparis.cl/maquillaje" target="_blank" role="button">L'oréal &raquo;</a></p>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-3 col-sm-12">
      <div class="card-publicidad">
        <img class justify-content:center; src="https://www.pharmabiz.net/wp-content/uploads/2021/03/cicatricure-corporal.jpg" width="140" height="140" class="rounded">
        <p><a class="btn btn-secondary" href="https://www.shopcicatricure.cl/pedir" target="_blank" role="button"> Cicatricure &raquo;</a></p>
      </div>
    </div><!-- /.col-lg-4 --> 

    <div class="col-lg-3 col-sm-12">
      <div class="card-publicidad" >
        <img class src="https://2.bp.blogspot.com/-5-vcrhvSnXo/VApKPDxsPSI/AAAAAAAA8Gw/EF_UTW7VKuE/s1600/TRESemme-BlindajePlatinium2.jpg" width="140" height="140" class="rounded">
        <p ><a class="btn btn-secondary" href="https://www.tresemme.com/us/en/home.html" target="_blank" role="button">TRESemmé  &raquo;</a></p>
      </div>
    </div><!-- /.col-lg-4 -->          
​  </div><!--row-->
</div><!--publicidad -->

​
