

<div class="banner-services mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1583209814683-c023dd293cc6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
  <div class="container text-center">
    <h1>Nosotros</h1>
  </div>
</div>

<div class="container">
  <p style="text-align: justify;">Beldom es un sitio web creado para entregar a nuestros usuarios tanto servicios de belleza y productos de belleza a domicilio, para disminuir los riesgos de contagio que pueden producir la pandemia hoy en dia .</p>
  <p style="text-align: justify;">Entregamos nuestros servicios en una primera etapa en la cuidad de Santiago de Chile a las comunas de Maipú, La FLorida y Ñuñoa, en los dias y horarios que se señala en cada servicio.  </p>
  <p style="text-align: justify;">En el area de servicios de belleza ofrecemos a domicilio las siguientes especialidades: Manicure, Podologia, Peluqueria para Dama como Varón. Para esto usted primero debe registrarse con un correo electrónico, una dirección y una contraseña. Posteriormente usted revisa y selecciona el servicio de belleza que desea y realiza una reserva para el dia y hora que esten disponibles.</p>
  <p style="text-align: justify;">En el area de venta de productos de belleza a domicilio, ofrecemos una variedad de productos especializados en cremas, maquillaje, manicure, podologia, etc. Al igual que en nuestro servicio de belleza usted tambien debe registrarse para posteriormente poder despachar su producto.</p>

</div>